:root {
  --main-color-bg: #f8f9ff;
  --main-transition: 0.3s;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color-bg);
}

@font-face {
  font-family: ExpoArabic;
  src: url(../fonts/ExpoArabic-Book.ttf);
}

div {
  font-family: ExpoArabic;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
  transition: var(--main-transition);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  color: #3e6ff4;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 72px;
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  height: 100%;
}

header nav a {
  display: block;
  color: #939597;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 10px;
  position: relative;
  transition: var(--main-transition);
}

header nav a:hover {
  color: #3e6ff4;
}

header nav a::before {
  content: "";
  width: 0px;
  height: 3px;
  background-color: #3e6ff4;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: var(--main-transition);
}

header nav a:hover::before {
  width: 100%;
}

.hamburger {
  display: block;
  position: fixed;
  width: 24px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  z-index: 500;
  right: 15px;
}

.hamburger .bar,
.hamburger:after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 6px 0px;
  transition: var(--main-transition);
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-5px, -4px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  font-family: ExpoArabic;
  position: fixed;
  top: 72px;
  left: 100%;
  width: 100%;
  display: block;
  z-index: 101;
  background-color: #fff;
  transition: 0.4s;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  padding: 22px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: #939597;
  font-weight: 600;
  text-decoration: none;
  border-top: 1px solid #eee;
}

.mobile-nav a:hover {
  color: #3e6ff4;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  header .container > nav {
    display: none !important;
  }
  header .container {
    position: relative;
    background-color: white;
    width: 100%;
  }
  header {
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
}

@media (max-width: 1200px) {
  .landing .text h3,
  .landing .text span {
    font-size: 2.5rem !important;
  }
  .home__img {
    width: 350px !important;
  }
}

.page {
  padding: 120px 0 0 0;
}

.page .container {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 50px;
  min-height: 1000px;
}

.menu {
  text-align: right;
  flex-basis: 25%;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;
  padding-bottom: 0 !important;
  height: fit-content;
}

.menu .faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.menu .faq-container h2 {
  margin: 10px 0 25px 0;
  text-align: center;
}

.menu .faq {
  margin-bottom: 20px;
}

.menu .faq-question {
  background-color: #eee;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.menu .faq-answer {
  display: none;
  background-color: #fff;
  padding: 10px 10px 0 10px;
}

.menu .faq-answer a {
  color: black;
  display: block;
  padding: 10px 5px;
}

.menu .faq-answer a:hover {
  color: rgb(95, 114, 235);
}

.page .content {
  flex-basis: 75%;
  height: 460px;
}

.page .content .video {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 25px 0;
  background-color: #0d0d0d;
}

.footer p {
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .page .container {
    flex-direction: column-reverse;
    row-gap: 80px;
  }
  .footer {
    margin-top: 50px;
  }
}
