:root {
  --main-color-bg: #f8f9ff;
  --main-transition: 0.3s;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color-bg);
}

@font-face {
  font-family: ExpoArabic;
  src: url(../fonts/ExpoArabic-Book.ttf);
}

div {
  font-family: ExpoArabic;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
  transition: var(--main-transition);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  width: fit-content;
  font-size: 24px;
  padding: 20px 60px;
  color: #fff;
  background-color: #5700ff;
  border-radius: 111px;
  float: right;
  transition: var(--main-transition);
}

.button:hover {
  color: #fff;
  background-color: #9465f3;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  color: #3e6ff4;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 72px;
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  height: 100%;
}

header nav a {
  display: block;
  color: #939597;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 10px;
  position: relative;
  transition: var(--main-transition);
}

header nav a:hover {
  color: #3e6ff4;
}

header nav a::before {
  content: "";
  width: 0px;
  height: 3px;
  background-color: #3e6ff4;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: var(--main-transition);
}

header nav a:hover::before {
  width: 100%;
}

.hamburger {
  display: block;
  position: fixed;
  width: 24px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  z-index: 500;
  right: 15px;
}

.hamburger .bar,
.hamburger:after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 6px 0px;
  transition: var(--main-transition);
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-5px, -4px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  font-family: ExpoArabic;
  position: fixed;
  top: 72px;
  left: 100%;
  width: 100%;
  display: block;
  z-index: 101;
  background-color: #fff;
  transition: 0.4s;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  padding: 22px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: #939597;
  font-weight: 600;
  text-decoration: none;
  border-top: 1px solid #eee;
}

.mobile-nav a:hover {
  color: #3e6ff4;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  header .container > nav {
    display: none !important;
  }
  header .container {
    position: relative;
    background-color: white;
    width: 100%;
  }
  header {
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
}

@media (max-width: 1200px) {
  .landing .text h3,
  .landing .text span {
    font-size: 2.5rem !important;
  }
  .home__img {
    width: 350px !important;
  }
}

.langding {
  position: relative;
  padding: 100px;
}

.langding .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 270px);
}

.langding .text {
  text-align: right;
  flex-basis: 50%;
}

.langding .text h3 {
  font-size: 62px;
  font-weight: 700;
}

.langding .text p {
  font-size: 20px;
  line-height: 40px;
  margin: 27px 0;
}

.langding .image {
  /* width: 1200px; */
  flex-basis: 45%;
}

.langding .image img {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
}

.second-landing {
  padding: 75px 0;
  background-color: #fff !important;
}
.second-landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-landing .text {
  font-size: 20px;
  line-height: 40px;
  flex-basis: 50%;
  text-align: right;
  padding-right: 40px;
}

.second-landing .text p {
  margin-bottom: 27px;
  color: #0d0d0d;
}

.second-landing .text span {
  display: block;
  margin-bottom: 27px;
  color: #000000 !important;
  font-weight: 600;
}

.second-landing .text .button {
  padding: 10px 24px !important;
}

.second-landing .image {
  flex-basis: 50%;
}

.second-landing .image img {
  width: 100%;
  max-width: 100%;
}

.about {
  padding: 75px 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .image {
  flex-basis: 50%;
}

.about .image img {
  width: 100%;
  max-width: 100%;
}

.about .text {
  font-size: 20px;
  line-height: 40px;
  flex-basis: 50%;
  text-align: right;
  padding-right: 40px;
  margin-left: 60px;
}

.about .text h3 {
  color: #5700ff;
  font-size: 25px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 20px;
}

.about .text p {
}

.more {
  background-color: black;
  position: relative;
  padding: 50px;
}

.more .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  column-gap: 50px;
}

.more .right,
.more .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more .title {
  text-align: center;
  width: 100%;
  padding: 40px 0;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}

.more {
}

.more .box {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-bottom: 20px;
}

.more .box .image {
  width: 60px;
}

.more .box .image img {
  width: 100%;
  max-width: 100%;
}

.more .box .text {
  color: #fff;
  margin-right: 20px;
}

.more .box .text h3 {
  color: #23cedb;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
}

.more .box .text p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
}

.more .center {
  width: 810px;
  display: flex;
  align-items: center;
}
.more .center img {
  width: 100%;
  max-width: 100%;
}

.about-us {
  padding: 50px 0;
  background-color: var(--main-color-bg);
}

.about-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us .text {
  text-align: right;
  font-size: 20px;
  /* color: #fff; */
  line-height: 40px;
  flex-basis: 50%;
  padding-right: 40px;
  margin-left: 60px;
}

.about-us .text p {
}

.about-us .image {
  /* width: 400px; */
  flex-basis: 50%;
}

.about-us .image img {
  width: 100%;
  max-width: 100%;
}

.footer {
  padding: 25px 0;
  background-color: #0d0d0d;
}

.footer p {
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .langding {
    padding: 100px 0 40px 0;
  }
  .langding .container {
    flex-direction: column;
    row-gap: 20px;
  }
  .langding .text h3 {
    text-align: center;
    font-size: 35px;
  }
  .langding .text p {
    font-size: 18px;
  }
  .button {
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 767px) {
  .second-landing .container {
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .second-landing .text {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .about .container {
    flex-direction: column;
    row-gap: 20px;
  }
  .about .text {
    padding-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .more {
    padding: 50px 0;
  }
  .more .container {
    flex-direction: column-reverse;
    column-gap: 50px;
  }
  .more .center {
    display: block;
    width: 305px;
    margin: 20px auto;
  }
}
@media (max-width: 767px) {
  .about-us .container {
    flex-direction: column;
    row-gap: 50px;
  }
  .about-us .text {
    padding-right: 20px;
    margin-left: 20px;
  }
}
